@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$primary: #1C204B;
$very-dark-blue: #0f1424;
$dark-blue: #1c1f4a;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: $very-dark-blue;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 30px;

    &__user {
        display: flex;
        background-color: #5747EA;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
        border-radius: 1rem;
        height: 8.3rem;

        &-image {
            width: 64px;
            height: 64px;
            border: 3px solid white;
            border-radius: 50%;
            margin: auto 0;
        }

        &-person {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }

        &-who {
            font-size: 0.875rem;
        }

        &-name {
            font-size: 1.5rem;
            font-weight: 100;
        }
    }

    &__timeframe {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: #7078C9;

        &-selection {
            padding: 1rem;

            &.active {
                color: white;
            }

            &:hover, &:focus {
                color: white;
            }
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        position: relative;
        border-radius: 1rem;
        width: 100%;
        margin: 0 auto;

        &-accent {
            height: 10rem;
            width: 100%;
            border-radius: 1rem;

            &-icon {
                position: absolute;
                right: 1.25rem;
            }
        }

        &-content {
            position: absolute;
            z-index: 2;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            bottom: -1px;
            padding: 25px 20px;
            height: 120px;
            width: 100%;
            background-color: #1C204B;
            gap: 6px;

            &-header {
                display: flex;
                justify-content: space-between;
            }

            &-footer {
                display: flex;
                justify-content: space-between;
            }

            &-title {
                font-size: 1.125rem;
                font-weight: 400;
            }

            &-current {
                font-size: 2rem;
                font-weight: 100;
            }

            &-button {
                border: none;
                outline: none;
                background: none;
                z-index: 2;
                margin: auto 0;
                height: 20px;
                display: flex;
                align-items: center;
            }

            &-previous {
                color: #BBC0FF;
                font-size: .9375rem;
                margin: auto 0;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    main {
        padding: 20px 50px;
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;

        &__item {
            width: 45%;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 1440px) {
    body, html {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        margin: auto auto;
    }

    main {
        width: 85%;
        height: 60%;
        margin: auto auto;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
    }

    .hero {
        margin: 0;
        justify-content: start;
        width: 20%;

        &__user {
            height: 68%;
            flex-direction: column;
            gap: 30px;
            padding: 30px 20px;
            justify-content: start;

            &-image {
                margin: 0;
                width: 78px;
                height: auto;
            }

            &-who {
                font-size: .9375rem;
            }

            &-name {
                width: 50%;
                font-size: 2.5rem;
            }
        }

        &__timeframe {
            flex-direction: column;
            padding: 20px;
            gap: 30px;

            &-selection {
                padding: 0;
                width: 30%;

                &:hover, &:focus {
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

    .list {
        justify-content: center;
        gap: 30px;
        width: 60%;
        margin: 0;

        &__item {
            width: 30%;

            &-content {
                height: 165px;
                gap: 12px;

                &:hover, &:focus {
                    background-color: #33397A;
                    cursor: pointer;
                }

                &-button {
                    &:hover, &:focus {
                        cursor: pointer;
                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(500%) contrast(102%);
                    }
                }

                &-footer {
                    flex-direction: column;
                }

                &-current {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1880px) {
    .hero {
        width: 15%;
    }
}